ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL=sqlite:///./mipar.db
JWT_SECRET=cambia-esta-clave-larga-y-aleatoria
ADMIN_USER=admin
ADMIN_PASSWORD=mipar123
# Vercel la agrega al conectar un Blob Store al proyecto.
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_aNlonuv4H9x96731_DB8kwDyz6SsYW1b7vLfe5HK86AujNR
